body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  font: fenway;
  background: rgb(242, 245, 242);
  border: 10px ridge black;
}

div{
text-align: center;
}

.run-segment {
  text-align: center;
  align-content: center;

}

.buttons {
  text-align: center;
  align-content: center;
  margin: auto
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}
